---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'EinsteinDB - A Relativistic Hybrid OLTP&OLAP High Performance DBMS ',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      all-in-one New-SQL database system that entirely deviates from classical disk-based DBMS architectures <span class="hidden xl:inline">featuring machine code generation for data-centric query processing and multi-version concurrency control</span>
      <span class="text-accent dark:text-white highlight"> EinsteinDB</span> + FoundationDB
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">EinsteinDB</span> 
        + FoundationDB</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">EinsteinDB: Production-ready.</span>
      we use an epoch guard based on causal sets to ensure the correctness of the distributed transactions.
      
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with EinsteinDB"
    subtitle="EinsteinDB is an in-memory DBMS, the results are not affected by any
    interrupts caused by IO. To see the effects of contention and crosspartition
    transactions, we do not pin any threads to warehouses
    in TPC-C."
    items={[
      {
        title: 'EinsteinDB and MilevaDB',
        description:
          'MilevaDB is the most advanced, open source, distributed SQL database with MySQL compatibility. ',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Horizontal Scalability',
        description:
          'EinsteinDB’s architecture separates compute from storage to instantly scale data workloads out or in as needed.',
        icon: 'tabler:components',
      },
      {
        title: 'High Performance',
        description:
          'EinsteinDB is designed to deliver high performance for both OLTP and OLAP workloads, with real-time analytics and HTAP.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Multi-Cloud Flexibility',
        description:
          'EinsteinDB is cloud-native and can run on any public cloud, on-premises, or in hybrid environments.',
        icon: 'tabler:rocket',
      },
      {
        title: 'MySQL Compatibility',
        description:
          "EinsteinDB is compatible with MySQL, so you can easily migrate your MySQL databases to EinsteinDB without changing your applications' code.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Open Source',
        description:
          'EinsteinDB is open source and free to use, with a vibrant community of developers and users who contribute to its ongoing development.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="OLAP & OLTP"
    title="EinsteinDB is a hybrid OLTP&OLAP high performance DBMS"
    items={[
      {
        title: 'Serverless architecture',
        description:
          'Leverage the benefits of serverless computing to reduce operational costs and complexity, while ensuring optimal performance and scalability.',
      },
      {
        title: 'focus entirely on your data and your app',
        description:
          'EinsteinDB is a fully managed database service that enables you to focus entirely on your data and your app, not on the database.',
      },
      {
        title: 'built-in vector search to the SQL database family,',
        description:
          'EinsteinDB is the first database to bring built-in vector search to the SQL database family, enabling you to build modern applications with ease.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Unified database solution for enhanced developer experience</h3>
      <p class="text-lg text-gray-600 dark:text-gray-400">
        EinsteinDB is a unified database solution that provides a seamless developer experience, enabling you to build modern applications with ease.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'create end-to-end RAG-Enabled Search Apps',
        description: `EinsteinDB is the first database to bring built-in vector search to the SQL database family, enabling you to create end-to-end RAG-enabled search apps.`,
      },
      {
        title: 'Real-Time Recommendation Systems',
        description:
          'EinsteinDB is designed to deliver high performance for both OLTP and OLAP workloads, with real-time analytics and HTAP.',
      },
      {
        title: 'Multi-Cloud Flexibility',
        description:
          "EinsteinDB NLP's Perform sentiment analysis, language translation, and text summarization for more accurate processing ",
      },
      {
        title: 'Supports ACID transactions, suitable for scenarios requiring strong consistency such as bank transfer.',
        description: 'The FIDel interlocking server is the metadata managing component of the entire cluster. It stores metadata of real-time data distribution of every single EinsteinDB node and the topology structure of the entire MilevaDB cluster, provides the MilevaDB Dashboard management UI, and allocates transaction IDs to distributed transactions. ',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content"> EinsteinDB APIs provide native support to distributed transactions at the key-value pair level and supports the Snapshot Isolation level isolation by default.  </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Real-Time Analytics',
        description:
          'EinsteinDB is designed to deliver high performance for both OLTP and OLAP workloads, with real-time analytics and HTAP.',
      },
      {
        title: ' full life-cycle management for MilevaDB including deployment, upgrades, scaling, backup, and configuration changes.',
        description:
          'The MilevaDB Operator is a Kubernetes Operator that provides full life-cycle management for MilevaDB including deployment, upgrades, scaling, backup, and configuration changes.',
      },
      {
        title: 'Multi-Cloud Flexibility',
        description:
          'EinsteinDB is cloud-native and can run on any public cloud, on-premises, or in hybrid environments.',
      },
      {
        title: 'Enable TLS for the MySQL Client',
        description: `You can generate multiple sets of client-side certificates. At least one set of client-side certificates is needed for the internal components of MilevaDB Operator to access the MilevaDB server. `,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Horizontal Scaling</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="EinsteinDB uses the Multi-Raft protocol VioletaBFT to replicate data. When a node fails, VioletaBFT automatically schedules data to fill the missing data replicas. EinsteinDB requires low read and write latency, so it is strongly recommended to use local SSD storage in a production environment."
    items={[
      {
        title: 'To ensure availability, it is recommended to use network storage for components such as MilevaDB monitoring, MilevaDB Binlog, and milevadb-backup because they do not have redundant replicas <span class="font-medium">The uniqueness of the symlink name will ensure that if another node with the same name is created</span>',
        description:
          "EinsteinDB is a distributed database that provides high availability, scalability, and consistency. It is designed to handle large-scale data workloads and is optimized for real-time analytics and HTAP.",
        icon: 'tabler:package',
      },
      {
        title: 'EinsteinDB ensures that the wrong local volume is not mistakenly mounted, even if its device path changes <span class="font-medium"></span>',
        description:
          "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'EinsteinDB supports cardinality estimation for query optimiization',
        description: 'EinsteinDB learn a pure data-driven model that can be used for different tasks such as query answering or cardinality estimation.',
        icon: 'tabler:paint',
      },
      {
        title: 'EinsteinDB leverages graph neural networks for efficient and effective dynamic Materialized Views maintenance',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Build Containerized Applications with Ease"
    subtitle="Distribute immutable data to your application nodes with ease using the built-in containerization features of EinsteinDB."
    tagline="Components"
    items={[
      {
        title: 'Attribute-level schema-free data model',
        description: "EinsteinDB's attribute-level schema-free data model allows you to store and query data without the need to define a schema.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Causal Consistency',
        description:
          "EinsteinDB's causal consistency model ensures that all nodes in the cluster see the same data at the same time, providing strong consistency guarantees.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Optimized for Write-Heavy Workloads',
        description:
          'EinsteinDB is optimized for write-heavy workloads, with support for high-throughput writes and low-latency reads.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Distributed Transactions',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Running Causet Stores',
        description:
          'The running causet stores the data of the MilevaDB cluster and provides the data to the MilevaDB nodes.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Distributed SQL',
        description: 'EinsteinDB is a distributed SQL database that provides high availability, scalability, and consistency.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Database Cracking',
        description: 'EinsteinDB uses database cracking to optimize query performance by dynamically reorganizing data.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Zero-Shot cost models for out-of-core query processing',
        description:
          'EinsteinDB uses zero-shot cost models for out-of-core query processing, enabling you to run complex queries on large datasets.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Adaptive Partinioning',
        description: 'EinsteinDB uses adaptive partitioning to automatically distribute data across nodes for optimal performance.',
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Optimized Query Processing"
    information={`EinsteinDB uses machine code generation for data-centric query processing, enabling you to run complex queries on large datasets with ease.`}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Here are some common questions about EinsteinDB. If you have any other questions, feel free to reach out to us."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'What is EinsteinDB?',
        description:
          "EinsteinDB is a distributed database that provides high availability, scalability, and consistency. It is designed to handle large-scale data workloads and is optimized for real-time analytics and HTAP.",
      },
      {
        title: 'How does EinsteinDB differ from other databases?',
        description: 'EinsteinDB is a horizontally scalable, cloud-native database that is optimized for real-time analytics and HTAP workloads.',
      },
      {
        title: 'What are the key features of EinsteinDB?',
        description:
          'EinsteinDB is a distributed database that provides high availability, scalability, and consistency. It is optimized for real-time analytics and HTAP workloads, with support for distributed transactions and multi-cloud flexibility.',
      },
      {
        title: "What's AI4DB using DiabloGPT?",
        description:
          "A Regret-Bounded Query Optmizer and Evaluator named DiabloGPT is used to optimize the query processing in EinsteinDB. It uses a GPT-3 model to generate optimal query plans.",
      },
      {
        title: 'What is Relativistic Linearizability?',
        description:
          "Relativistic Linearizability is a consistency model that ensures that all operations in a distributed system appear to be executed in a linear order, even in the presence of network delays and failures.",
      },
      {
        title: 'Why does EinsteinDB run on FoundationDB?',
        description:
          "EinsteinDB is built on top of FoundationDB to leverage its distributed storage and transactional capabilities. FoundationDB provides a reliable and scalable foundation for EinsteinDB's distributed database system.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      EinsteinDB has CAP guarantees&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">using VioletaBFT</span>
    </Fragment>

    <Fragment slot="subtitle">
      Workload Aware Query Processing with EinsteinDB and MilevaDB 
    </Fragment>
  </CallToAction>
</Layout>
